@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Didot, serif;
  font-size: 100%;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("http://static.tumblr.com/94bee9a368dc93abfa16573ec738cbb6/rwfvryu/0A7o1lwz5/tumblr_static_egufvnmqftw04gc4c04c4g8sc.jpg");
}

h1 {
 font-family: 'Bonjour', cursive;
 font-size: 5em;
 text-align: center;
 color: #e5dad6;
}

.image {
  width: 100%;
  padding: 1em;
}

p {
  padding: 0.5em;
}

.social {
  display: inline-block;
  width: 20%;
  border: 0;
}

.social img {
  display: inline-block;
  width: 100%;
  border: 0;
}

.social-icons {
  padding-top: 0;
  text-align: center;
  border: 0;
}
